@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Gloria+Hallelujah&display=swap');

html{
    font-family: "Gloria Hallelujah", cursive;
    text-align: center;
    background-image: url(moana\ bb.jpg);
    background-size: cover;
}

.Moana{
    text-align: center;
    
} 

.poster{
    text-align: right;
}


